@model IEnumerable<Tatitours3.Models.Cidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Cidades</h1>
<div class="container"> 

        <div class="card" style="width: 18rem;"> 

            <img src="~/img/neve.jpg" class="card-img-top" alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Inverno em Paris</h2> 

                <p class="card-text">Conheça Paris e seus encantos. </p> 
            </div> 

        </div> 

  

        <div class="card" style="width: 18rem;"> 

            <img src="~/img/Personagens-DisneyRoupa-50-anos.png" class="card-img-top" alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Disney </h2> 

                <p class="card-text">O sonho de toda a família!</p> 
            </div> 

        </div> 

  

        <div class="card" style="width: 18rem;"> 

            <img src="~/img/arraial.jpg" class="card-img-top" alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Arraial do Cabo</h2> 

                <p class="card-text">Caribe Brasileiro te aguarda.</p>

            </div> 

        </div> 
          <div class="card" style="width: 18rem;"> 

            <img src="~/img/Cancun.jpg" class="card-img-top" alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Cancún.</h2> 

                <p class="card-text">Perfeição de lugar.</p>

            </div> 

        </div> 
          <div class="card" style="width: 18rem;"> 

            <img src="~/img/Egito.jpg" class="card-img-top" alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Egito</h2> 

                <p class="card-text">Lindas Pirâmides,lugar fantastico.</p>

            </div> 

        </div> 
          <div class="card" style="width: 18rem;"> 

            <img src="~/img/Joao_pessoa.jpg" class="card-img-top" alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">João Pessoa</h2> 

                <p class="card-text">Lugar onde muitos sonham em conhecer.</p> 

            </div> 

        </div> 

    </div>