@model IEnumerable<Tatitours3.Models.Contato>

@{
    ViewData["Title"] = "Index";
}
                 <div class="titulo"> 

                    <h1>Quem Somos</h1> 

                      <p>Somos um time de fanáticos, apaixonados por viagens. Acreditamos que desbravar o mundo ao lado de quem amamos cria memórias para toda a vida, histórias para compartilhar, estreita laços e nos torna pessoas mais felizes. 

                       Nossa maior missão é o “Make Travel Easier” (tornar a sua viagem cada vez mais simples), pois nascemos para conectar pessoas a seus sonhos, proporcionando a melhor experiência travel - a um preço acessível.</p> 

                 </div>

                <div class="a">                
                    <a href="https://www.linkedin.com/in/tatiana-santos-129085222/">Linkedin</a><br>
                    <a href="https://github.com/Tatiana3090">Github</a><br> 
                    <a href="https://api.whatsapp.com/send?phone=5521974243803&text=oi">Whatsapp</a>
                </div>
                <p>Email:tatianasantosferreira30@gmail.com</p>
                <br /> <br />
                 <img src="~/img/meditacao-conexao-natureza-capa.jpg" alt="" />
    