@model IEnumerable<Tatitours3.Models.Pacote>

@{
    ViewData["Title"] = "Index";
}

<h1>Pacotes</h1>
 <div class="container"> 

        <div class="card" style="width: 20rem;"> 

            <img src="~/img/Gramado.jpg" class="card-img-top"alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Gramado</h2> 

                <p class="card-text">A cidade do chocolate te espera . </p> 

                <font face="Arial" size=2><strike>R$1.458,00</strike></font><br> 

                <font face="Arial" size="4" color="blue">R$833,00</font><br> 

                <hr /> 

                <a href="https://guia.melhoresdestinos.com.br/gramado-canela-7-c.html" class="btn btn-primary">Saiba mais</a> 

                 

            </div> 

        </div> 

  

        <div class="card" style="width: 20rem;"> 

            <img src="~/img/Petropoles.jpeg" class="card-img-top"alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Petrópolis</h2> 

                <p class="card-text">Petrópolis é um destino incrível!</p> 

                <font face="Arial" size=2><strike>R$339,00</strike></font><br> 

                <font face="Arial" size="4" color="blue">R$275,00</font><br> 

                <hr /> 

                <a href="https://www.viajenaviagem.com/destino/petropolis/" class="btn btn-primary">Saiba mais.</a> 

            </div> 

        </div> 

  

        <div class="card" style="width: 20rem;"> 

            <img src="~/img/Marrocos.jpg" class="card-img-top" alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Marrocos</h2> 

                <p class="card-text">Lugar com decorações exóticas.</p> 

                <font face="Arial" size=2><strike>R$2.130,00</strike></font><br> 

                <font face="Arial" size="4" color="blue">R$1.130,00</font><br> 

                <hr /> 

                <a href="https://www.melhoresdestinos.com.br/roteiro-leitor-marrocos.html" class="btn btn-primary">Saiba mais.</a> 

            </div> 

        </div> 

    </div>

     <div class="container"> 

        <div class="card" style="width: 20rem;"> 

            <img src="~/img/Potugal.jpg" class="card-img-top"alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Portugal</h2> 

                <p class="card-text">Dono de muitas belezas medievais. </p> 

                <font face="Arial" size=2><strike>R$1.998,00</strike></font><br> 

                <font face="Arial" size="4" color="blue">R$999,00</font><br> 

                <hr /> 

                <a href="https://www.melhoresdestinos.com.br/viagem-para-portugal.html" class="btn btn-primary">Saiba mais</a> 

                 

            </div> 

        </div> 

  

        <div class="card" style="width: 20rem;"> 

            <img src="~/img/Belgica.jpg" class="card-img-top"alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Bélgica</h2> 

                <p class="card-text">Lindas paisagens.</p> 

                <font face="Arial" size=2><strike>R$2.500,00</strike></font><br> 

                <font face="Arial" size="4" color="blue">R$1.579,00</font><br> 

                <hr /> 

                <a href="https://guia.melhoresdestinos.com.br/belgica-63-cat.html" class="btn btn-primary">Saiba mais.</a> 

            </div> 

        </div> 

  

        <div class="card" style="width: 20rem;"> 

            <img src="~/img/Brerlim.jpg" class="card-img-top" alt="..."> 

            <div class="card-body"> 

                <h2 class="card-title">Berlim</h2> 

                <p class="card-text">Um maravilhoso passeio para família..</p> 

                <font face="Arial" size=2><strike>R$6.000,00</strike></font><br> 

                <font face="Arial" size="4" color="blue">R$5,735,00</font><br> 

                <hr /> 

                <a href="https://guia.melhoresdestinos.com.br/berlim-111-c.html" class="btn btn-primary">Saiba mais.</a> 

            </div> 

        </div> 

    </div>
